<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch {{ movie.title }}</title>
    <link rel="stylesheet" href="/static/watch.css">
</head>

<body>
    <header>
        <p class="title">{{ movie.title }}</p>
    </header>

    <!-- Display the movie player here -->
    <video style="width:80%;height:auto;max-height: 80%;overflow-y: hidden;" autoplay controls>
        <source src="{{ movie.movie.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>

</html>